version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: openmusic-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7-alpine
    container_name: openmusic-redis
    ports:
      - "6379:6379"
